*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #9E8C74;
    background-color: #D3D0CC;
}
.main{
    width: 100vw;
    display: flex;
    height: 16vh;
    background-color: aquamarine;

}
.nav{
background-color: red;
height: 17vh;
width: 16vw;
}

.nav1{
    height: 17vh;
    width: 70vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav3{
    height: 17vh;
    width: 15vw;
    display: flex;
     align-items: center;
     gap: 15px;
}
.fir{
    border-radius: 10%;
    border: 2px solid;
    padding: 4px;
}
.sec{
    background-color: black;
    color: white;
        padding: 4px;

}

a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.horizon{
    height: 100%;
    width: 100%;

}