*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #9E8C74;
    background-color: #D3D0CC;
}
.body{
    overflow: hidden;
}
.main{
    width: 100vw;
    display: flex;
    height: 16vh;

}
.nav{
height: 17vh;
width: 16vw;
}

.nav1{
    height: 17vh;
    width: 70vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav3{
    height: 14vh;
    width: 16vw;
    display: flex;
     align-items: center;
     gap: 15px;

}
.fir{
    border-radius: 10%;
    border: 2px solid;
    padding: 4px;
}
.sec{
    background-color: black;
    color: white;
        padding: 4px;

}

a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
    text-decoration-color: #9E8C74;
}
.horizon{
    height: 100%;
    width: 100%;
    background: transparent;
}
.bottom{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero{
    width: 95vw;
    height: 97vh;
    border-radius: 10%;
}
 .image{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10%;
} 
.page2{
    height: 100vh;
    width: 100vw;
}
.head{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.about{
    height: 100vh;
    width: 100vw;
  display: flex;
  align-items: center;
}
.about1{
    height: 90vh;
    width: 73vw;
    margin: 25px;
}
.aimg{
    height: 100%;
    width: 100%;
}
.about2{
    height: 50vh;
    width: 35vw;
    background-color: pink;
    margin: 25px;
}
.p1{
    font-size: 25px;
}
.page3{
    height: 100vh;
    width: 100vw;
}
.head2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}